.App {
  font-family: sans-serif;
  text-align: center;
}
:root {
  /* ### Primary */
  --Moderateviolet: hsl(263, 55%, 52%);
  --Verydarkgrayishblue: hsl(217, 19%, 35%);
  --Verydarkblackishblue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  /*   ### Neutral */
  --Lightgray: hsl(0, 0%, 81%);
  --Lightgrayishblue: hsl(210, 46%, 95%);
  font-size: 13px;
}
body {
  background: var(--Lightgrayishblue);
  margin: 0;
  padding: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  /* padding: 4em 0; */
  display: grid;
  place-items: center;
  min-height: 100vh;
}
